* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2960ce, #b52cd7);
    padding: 10px;
}

.weather-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.weather-app h2 {
    color: #093c8e;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ededed;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #483938;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
    transition: 0.3s ease;
}

button:hover {
    background: #5c4544;
}

#weather-info {
    font-size: 17px;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
}

#error-message{
    font-size: 17px;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    color: red;
}
.hidden {
    display: none;
}
